body{
background-image: url("../images/gym.jpg");
background-size: cover;
background-position: center center;
background-attachment: fixed;
}
#hesap{
  background-color: #000000;
  padding: 30px;
  margin-top: 50px;
  border-radius: 10px;



}
#hesap h1{
  color: #D2691E;
}
#hesap h4{
  color: #fff;
}
#hesap label{
  color: #A9A9A9	;
}
.fa {
padding: 20px;
font-size: 20px;
width: 60px;
text-align: center;
text-decoration: none;
}

.fa:hover {
opacity: 0.7;
color: #2b2929;
}

.fa-facebook {
background: #1877f2;
color: white;
}
.fa-twitter {
background: #1da1f2;
color: white;
}

.fa-google {
background: #ea4335;
color: white;
}

.fa-linkedin {
background: #007bb5;
color: white;
}
.fa-instagram{
background: #c32aa3;
color: white;
}

.form-color{
background-color: #2b2929;
color: #2b2929;
}
